<div>
  <header class="header">
    <button>
      <span>menu</span>
    </button>
    <div>
      <h1>Categories</h1>
    </div>
    <%= button_to destroy_user_session_url, method: :delete do %>
      <span>logout</span>
    <% end %>
  </header>
  <%= render @categories %>
</div>
<footer>
  <%= link_to 'Add a new category', new_category_path %>
</footer>