<div>
  <header class="header">
	  <%= link_to 'Back', categories_path, class: "button" %>
    <div>
      <h1 class="title">Transactions</h1>
    </div>
  </header>
	<div>
		<p>Gift Credit:</p>
		<p>$<%= @category.total_amount %></p>
	</div>
	<%= render 'activities/index', locals: { activities: @activities } %>
</div>
<footer>
  <%= link_to 'Add a new transaction', new_activity_path %>
</footer>
